#pages {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
a,em,i,s {
    text-decoration: none;
    font-style: normal;
}
ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
}